[package]
name = "rnet"
version = "0.2.3"
description = "Asynchronous Python HTTP Client with Black Magic"
edition = "2021"
rust-version = "1.83.0"
license = "GPL-3.0"
repository = "https://github.com/0x676e67/rnet"
authors = ["0x676e67 <gngppz@gmail.com>"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "rnet"
crate-type = ["cdylib", "rlib"]
doctest = false

[dependencies]
tokio = { version = "1.0", features = ["sync"] }
pyo3 = { version = "0.23.0", features = ["anyhow", "indexmap", "multiple-pymethods", "abi3-py39", "generate-import-lib", "experimental-inspect"] }
pyo3-async-runtimes = { version = "0.23.0", features = ["tokio-runtime"] }
pyo3-stub-gen = "0.7.0"
anyhow = "1.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
mime = "0.3.17"
indexmap = { version = "2.7.0", features = ["serde"] }
cookie = "0.18.0"
arc-swap = "1.7.1"
rquest = { version = "2.0.6", features = ["full"] }

[profile.release]
lto = true
opt-level = 3
codegen-units = 1
strip = true
panic = "abort"